# example .env
ORDER_SERVICE_MONGO_DB_URI=your_url
PAYMENT_SERVICE_MONGO_DB_URI=your_url
LEDGER_SERVICE_MONGO_DB_URI=your_url
NOTIFICATION_SERVICE_MONGO_DB_URI=your_url


ORDER_SERVICE_PORT=your_port
LEDGER_SERVICE_PORT=your_port
